.home-root {
  display: flex;
  flex-direction: row;

  height: 100vh;
}

.home-content {
  display: flex;
  flex-direction: row;

  margin: 0 auto;
  margin-top: 100px;

  max-width: 1200px;
  width: 90%;
}