.joke-card-root {
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 12px;

  transition: scale 100ms ease;
}

.joke-card-root:hover {
  scale: 1.05;
}