.page-selector-root {
  width: 300px;
  padding: 24px;

  border-radius: 12px;
  border: 1px solid var(--mantine-color-secondary-1);

  background-color: var(--mantine-color-custom-1);
}

.page-selector-title {
  letter-spacing: 2px;
}

.page-selector-item {
  border-radius: 12px;
  padding: 10px;

  cursor: pointer;
  color: var(--mantine-color-secondary-7);

  &:hover {
    background-color: var(--mantine-color-custom-2);
  }
}

.page-selector-item.selected {
  color: var(--mantine-color-primary-4);
  background-color: var(--mantine-color-custom-5);
}