@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Goldman:wght@400;700&display=swap');

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  color: rgba(47, 47, 47, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* For light mode */
:root[data-mantine-color-scheme="light"] {
  --mantine-color-body: #F8F6F6 !important;
}

/* For dark mode */
/* :root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #00ff00 !important;
} */